In [7]:
import sys
import os

# Add the project directory to sys.path
project_path = "/Users/hugocontrerasp/Documents/GitHub/moria_ai_labs_dev/data_readiness/src/"
if project_path not in sys.path:
    sys.path.append(project_path)

In [10]:
# Import the function
from data_readiness_engine.pipelines import data_ingestion

In [11]:
data_ingestion.load_json_schema('../data/test/c001_bamfurlong/20250524-hacp-c001_bamfurlong-data_domains_schema.json')

   domain_name   table_name           field_name
0     Customer     Customer           CustomerID
1     Customer     Customer            FirstName
2     Customer     Customer             LastName
3     Customer     Customer                Email
4     Customer     Customer          PhoneNumber
5     Customer     Customer            AddressID
6     Customer     Customer        CustomerSince
7     Customer     Customer        FarmSizeAcres
8     Customer     Customer         CustomerType
9     Customer      Address            AddressID
10    Customer      Address        StreetAddress
11    Customer      Address                 City
12    Customer      Address                State
13    Customer      Address              ZipCode
14     Product      Product            ProductID
15     Product      Product          ProductName
16     Product      Product   ProductDescription
17     Product      Product           CategoryID
18     Product      Product            UnitPrice
19     Product      Product         Manufacturer
20     Product     Category           CategoryID
21     Product     Category         CategoryName
22     Product     Category  CategoryDescription
23       Sales   SalesOrder              OrderID
24       Sales   SalesOrder           CustomerID
25       Sales   SalesOrder            OrderDate
26       Sales   SalesOrder          TotalAmount
27       Sales   SalesOrder    ShippingAddressID
28       Sales   SalesOrder          OrderStatus
29       Sales   SalesOrder        PaymentMethod
30       Sales    OrderItem          OrderItemID
31       Sales    OrderItem              OrderID
32       Sales    OrderItem            ProductID
33       Sales    OrderItem             Quantity
34       Sales    OrderItem            UnitPrice
35       Sales    OrderItem             Discount
36   Inventory    Inventory          InventoryID
37   Inventory    Inventory            ProductID
38   Inventory    Inventory           LocationID
39   Inventory    Inventory       QuantityOnHand
40   Inventory    Inventory         ReorderPoint
41   Inventory    Inventory      LastRestockDate
42   Inventory     Location           LocationID
43   Inventory     Location         LocationName
44   Inventory     Location         LocationType
45   Inventory     Location            AddressID
46     Finance  Transaction        TransactionID
47     Finance  Transaction      TransactionDate
48     Finance  Transaction      TransactionType
49     Finance  Transaction               Amount
50     Finance  Transaction            AccountID
51     Finance  Transaction          Description
52     Finance  Transaction              OrderID
53     Finance    GLAccount            AccountID
54     Finance    GLAccount          AccountName
55     Finance    GLAccount          AccountType
56     Finance    GLAccount          Description